<section class="topo"> 
  <div>  
      <p>Araguiana - TO, Terça-feira<span>, 22 de janeiro de 2018</span></p>
      <ul>
          <li>
              <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : 'segmento', cidade : 'cidade', categoria : 1 }">Guia Médico
                  <div>
                    <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : 'segmento', cidade : 'cidade', categoria : 'categoria' }" *ngFor="let segmento of registros?.guiaMedico">{{ segmento.nome }}</a>
                  </div>            
              </a>
          </li>
          <li><a href="javascript:void(0)">Eventos</a></li>
          <li><a href="javascript:void(0)">Agência de Turismo</a></li>
          <li><a href="javascript:void(0)">Vídeo</a></li>
          <li><a href="javascript:void(0)">Locadora de carros</a></li>
          <li><a href="javascript:void(0)">Seja nosso parceiro</a></li>
      </ul>
  </div>
</section>
<section class="banner">
  <img class="logo" src="./assets/imagens/logo.jpg" >
  <div class="slide_600x100"><app-banner-slide [imagens]="imagens?._600x100"></app-banner-slide></div>    
  <div class="slide_300x100"><app-banner-slide [imagens]="imagens?._300x100"></app-banner-slide></div>
  <img src="./assets/imagens/icon/menu.png" class="menu" />
</section>
<nav class="menu">
    <img class="logo" src="./assets/imagens/logo.png" >
  <div>
      <a routerLink="/" >HOME</a>
      <a routerLink="/quem-somos">QUEM SOMOS</a>
      <a routerLink="/noticias">NOTÍCIAS</a>
      <a routerLink="/guia-comercial">GUIA COMERCIAL</a>
      <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : 'segmento', cidade : 'cidade', categoria : 2 }" class="sub-item"><span>DISK DELIVERY <img src="./assets/imagens/icon/icons8-chevron-right-filled-32.png" class="arrow" /></span>
          <div>
              <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : segmento.id, cidade : 'cidade', categoria : 'categoria' }" *ngFor="let segmento of registros?.diskDelivery">- {{ segmento.nome }}</a>
          </div>
      </a>
      <a routerLink="/anuncie">ANUNCIE</a>
      <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : 'segmento', cidade : 'cidade', categoria : 3 }" class="sub-item"><span>ONDE HOSPEDAR <img src="./assets/imagens/icon/icons8-chevron-right-filled-32.png" class="arrow" /></span>
          <div>
            <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : segmento.id, cidade : 'cidade', categoria : 'categoria' }" *ngFor="let segmento of registros?.ondeHospedar">- {{ segmento.nome }}</a>
          </div>
      </a>
      <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : 'segmento', cidade : 'cidade', categoria : 4 }" class="sub-item"><span>ONDE COMER <img src="./assets/imagens/icon/icons8-chevron-right-filled-32.png" class="arrow" /></span>
          <div>
            <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : segmento.id, cidade : 'cidade', categoria : 'categoria' }" *ngFor="let segmento of registros?.ondeComer">- {{ segmento.nome }}</a>
          </div>
      </a>
      <a routerLink="/contato">CONTATO</a>
  </div>
</nav>
<section class="buscar">
  <div>
      <label class="form-servico">
          <p>Faça sua busca por:<br>Empresa, Ramo, Telefone ou Serviços.</p>
          <input type="search" placeholder="Ex.: produtos, serviços, empresas">
      </label>
      <label class="form-cidade">
          <input [(ngModel)]="cidade" name="cidade" (keyup.enter)="buscaCidade($event, cidade)" type="search" placeholder="Ex.: cidade">
          <button>BUSCAR</button>
      </label>        
  </div>
</section>