<section class="topo"> 
  <div>  
      <p>Araguiana - TO, Terça-feira<span>, 22 de janeiro de 2018</span></p>
      <ul>
          <li>
              <a href="javascript:void(0)">Guia Médico
                  <div>
                      <a href="javascript:void(0)">Cardiologista</a>
                      <a href="javascript:void(0)">Pediatra</a>
                      <a href="javascript:void(0)">Consultório Odontologico</a> 
                  </div>            
              </a>
          </li>
          <li><a href="javascript:void(0)">Eventos</a></li>
          <li><a href="javascript:void(0)">Agência de Turismo</a></li>
          <li><a href="javascript:void(0)">Vídeo</a></li>
          <li><a href="javascript:void(0)">Locadora de carros</a></li>
          <li><a href="javascript:void(0)">Seja nosso parceiro</a></li>
      </ul>
  </div>
</section>
<section class="banner">
  <img class="logo" src="./assets/imagens/logo.jpg" >
  <div class="slide_600x100"><app-banner-slide [imagens]="imagens?._600x100"></app-banner-slide></div>    
  <div class="slide_300x100"><app-banner-slide [imagens]="imagens?._300x100"></app-banner-slide></div>
  <img src="./assets/imagens/icon/menu.png" class="menu" />
</section>
<nav class="menu">
    <img class="logo" src="./assets/imagens/logo.png" >
  <div>
      <a routerLink="/" >HOME</a>
      <a routerLink="/quem-somos">QUEM SOMOS</a>
      <a routerLink="/noticias">NOTÍCIAS</a>
      <a routerLink="/guia-comercial">GUIA COMERCIAL</a>
      <a class="sub-item" href="javascript:void(0)"><span>DISK DELIVERY <img src="./assets/imagens/icon/icons8-chevron-right-filled-32.png" class="arrow" /></span>
          <div>
              <a href="javascript:void(0)">- Gás</a>
              <a href="javascript:void(0)">- Água</a>
              <a href="javascript:void(0)">- Lanches</a>
          </div>
      </a>
      <a routerLink="/anuncie">ANUNCIE</a>
      <a class="sub-item" href="javascript:void(0)"><span>ONDE HOSPEDAR <img src="./assets/imagens/icon/icons8-chevron-right-filled-32.png" class="arrow" /></span>
          <div>
              <a href="javascript:void(0)">- Hotel</a>
              <a href="javascript:void(0)">- Motel</a>
              <a href="javascript:void(0)">- Pousada</a>
              <a href="javascript:void(0)">- Kit-net</a>
          </div>
      </a>
      <a class="sub-item" href="javascript:void(0)"><span>ONDE COMER <img src="./assets/imagens/icon/icons8-chevron-right-filled-32.png" class="arrow" /></span>
          <div>
              <a href="javascript:void(0)">- Churrascaria</a>
              <a href="javascript:void(0)">- Restaurante</a>
              <a href="javascript:void(0)">- Pizzaria</a>
              <a href="javascript:void(0)">- Pit-dog</a>
              <a href="javascript:void(0)">- Lanchonete</a>
              <a href="javascript:void(0)">- Espetinho</a>
          </div>
      </a>
      <a routerLink="/contato">CONTATO</a>
  </div>
</nav>
<section class="buscar">
  <div>
      <label class="form-servico">
          <p>Faça sua busca por:<br>Empresa, Ramo, Telefone ou Serviços.</p>
          <input type="search" placeholder="Ex.: produtos, serviços, empresas">
      </label>
      <label class="form-cidade">
          <input (change)="buscaCidade($event)" type="search" placeholder="Ex.: cidade">
          <button>BUSCAR</button>
      </label>        
  </div>
</section>