<section class="noticias-agenda">
  <div class="noticias">
      <header><h3>Últimas notícias</h3></header>
      <ul>
          <li *ngFor="let noticia of g1">
              <strong>{{ noticia.pubDate }}</strong>
              <a target="_blank" [href]="noticia.link">{{ noticia.title }}</a>
          </li>
      </ul>
      <div>
          <a href="javascript:void(0)">Ver todas</a>
      </div>
  </div>
  <div class="agenda">
      <header>
          <span>AGENDA DE <strong>EVENTOS</strong></span>
          <a class="agenda" routerLink="/agenda-de-eventos">
            <img src="./assets/imagens/icons8-soma-26.png">
          </a>
      </header>
      <section *ngFor="let evento of eventos">
          <div class="data">
              <strong>{{ evento.mes }}</strong>
              <span>{{ evento.dia }}</span>
          </div>
          <div class="informacao">
              <h3>{{ evento.categoria }}</h3>
              <strong>{{ evento.nome }}</strong>
              <span>{{ evento.hora + ' - ' + evento.local }}</span>
              <div class="link">
                  <a href="javascript:void(0)">Informações</a> |
                  <a href="javascript:void(0)">Ver Cartaz</a> |
                  <a target="_blank" [routerLink]="evento.site" href="javascript:void(0)">Site do Evento</a>
              </div>
          </div>
      </section>
  </div>
  <div class="slide_300x350"><app-banner-slide [imagens]="imagens"></app-banner-slide></div>
</section>
<footer>
  <section>
      <img src="./assets/imagens/logo.png" >
      <div class="link">
          <ul>
              <li><h3>PORTAL COMERCIAL</h3></li>
              <li><a href="javascript:void(0)">Anuncie no Site</a></li>
              <li><a href="javascript:void(0)">Telefones Úteis</a></li>
              <li><a href="javascript:void(0)">Fale Conosco</a></li>
              <li><a href="javascript:void(0)">Quem Somos</a></li>
          </ul>
          <ul>
              <li><h3>NAVEGUE NO SITE</h3></li>
              <li><a href="javascript:void(0)">Página Inicial</a></li>
              <li><a href="javascript:void(0)">Guia Comercial</a></li>
              <li><a href="javascript:void(0)">Agenda</a></li>
              <li><a href="javascript:void(0)">Nóticias</a></li>
              <li><a href="javascript:void(0)">Classificados</a></li>
          </ul>
          <ul class="ultimo">
              <li><h3>INSTITUCIONAL</h3></li>
              <li><a href="javascript:void(0)">Como Anunciar</a></li>
              <li><a href="javascript:void(0)">Termos e Condições de Uso</a></li>
              <li><a href="javascript:void(0)">Política de Privacidade</a></li>
              <li><a href="javascript:void(0)">Aviso de Fraude</a></li>
          </ul>
      </div>
      <div class="cadastrar-empresa">
          <p>Facilite os Clientes a</p>
          <h2>ENCONTRAR SUA EMPRESA</h2>
          <button>Cadastre sua empresa agora</button>
      </div>
  </section>
</footer>
<section>
  <div class="direitos">
      <p>Todos os direitos reservados ao <strong>Portal do Guia</strong></p>
  </div>
  <div class="desenvolvedor">
      <h3>Wedson Webdesigner</h3>
  </div>
  <div style="clear: both"></div>
</section>
