<div class="conteiner">
  <form (ngSubmit)="cadastrar(contato)">
    <h3>Contato</h3>
    <p>
      <strong>Dúvidas, Sugestões, Reclamações, Guia Comercial?</strong>
      Seu Contato é muito importante para nós. Preencha os campos abaixo corretamente, que entraremos em contato o mais rápido possível.
    </p>

    <label>
      <span>Nome Completo</span>
      <input [(ngModel)]="contato.nome" name="nome" class="nome" type="text" required>
    </label>
    <div>
      <label>
        <span>E-mail</span>
        <input [(ngModel)]="contato.email" name="email" type="text" required>
      </label>
      <label>
        <span>Telefone</span>
        <input [(ngModel)]="contato.telefone" name="telefone" type="text">
      </label>
    </div>
    <div>
      <label>
        <span>Estado</span>
        <select required [(ngModel)]="contato.estado" name="estado">
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>
      </label>
      <label>
        <span>Cidade</span>
        <input required [(ngModel)]="contato.cidade" name="cidade" type="text">
      </label>
    </div>
    <label>
      <span>Mensagem</span>
      <textarea required [(ngModel)]="contato.mensagem" name="mensagem" cols="30" required></textarea>
    </label>
    <input value="ENVIAR" type="submit">
  </form>
</div>
