<section>
  <header>Nóticias <strong>Relacionadas</strong></header>
  <div>
    <article>
      <img src="./assets/imagens/noticia/agua-chuva.jpg" >
      <span>LIMINAR</span>
      <p>Gilmar Mendes determina retorno de Marcelo Miranda ao cargo de governador do Tocantins.</p>
    </article>
    <article>
      <img src="./assets/imagens/noticia/agua-chuva.jpg" >
      <span>LIMINAR</span>
      <p>Gilmar Mendes determina retorno de Marcelo Miranda ao cargo de governador do Tocantins.</p>
    </article>
    <article>
      <img src="./assets/imagens/noticia/agua-chuva.jpg" >
      <span>LIMINAR</span>
      <p>Gilmar Mendes determina retorno de Marcelo Miranda ao cargo de governador do Tocantins.</p>
    </article>
    <article>
      <img src="./assets/imagens/noticia/agua-chuva.jpg" >
      <span>LIMINAR</span>
      <p>Gilmar Mendes determina retorno de Marcelo Miranda ao cargo de governador do Tocantins.</p>
    </article>    
  </div> 
  <a href>Mais notícias</a>
</section>