<div class="agenda">
  <article class="agenda">
  <H2>Agenda de Eventos</H2>
  <P>Aqui você fica informado sobre todos os próximos eventos de Araguaina e região Almoços, baladas, barzinhos, cursos, exposições, feiras, jantares, palestras, rodeios, shows e muito mais!</P>
  <section>
      <div class="data">
          <strong>06/05</strong>
          <span>SÁBADO</span>
      </div>
      <div class="informacao">
          <h3>SHOWS E BALADAS</h3>
          <strong>Felipe e Matheus</strong>
          <span>Local: 23h - Expoara Porto Franco/MA</span>
          <div class="link">
              <a href="javascript:void(0)">Informações</a> |
              <a href="javascript:void(0)">Ver Cartaz</a> |
              <a href="javascript:void(0)">Site do Evento</a> 
          </div>
      </div>
  </section>
  <section>
      <div class="data">
          <strong>06/05</strong>
          <span>SÁBADO</span>
      </div>
      <div class="informacao">
          <h3>SHOWS E BALADAS</h3>
          <strong>Felipe e Matheus</strong>
          <span>Local: 23h - Expoara Porto Franco/MA</span>
          <div class="link">
              <a href="javascript:void(0)">Informações</a> |
              <a href="javascript:void(0)">Ver Cartaz</a> |
              <a href="javascript:void(0)">Site do Evento</a> 
          </div>
      </div>
  </section>
  <section>
      <div class="data">
          <strong>06/05</strong>
          <span>SÁBADO</span>
      </div>
      <div class="informacao">
          <h3>SHOWS E BALADAS</h3>
          <strong>Felipe e Matheus</strong>
          <span>Local: 23h - Expoara Porto Franco/MA</span>
          <div class="link">
              <a href="javascript:void(0)">Informações</a> |
              <a href="javascript:void(0)">Ver Cartaz</a> |
              <a href="javascript:void(0)">Site do Evento</a> 
          </div>
      </div>
  </section>
  <section>
      <div class="data">
          <strong>06/05</strong>
          <span>SÁBADO</span>
      </div>
      <div class="informacao">
          <h3>SHOWS E BALADAS</h3>
          <strong>Felipe e Matheus</strong>
          <span>Local: 23h - Expoara Porto Franco/MA</span>
          <div class="link">
              <a href="javascript:void(0)">Informações</a> |
              <a href="javascript:void(0)">Ver Cartaz</a> |
              <a href="javascript:void(0)">Site do Evento</a> 
          </div>
      </div>
  </section>
  <section>
      <div class="data">
          <strong>06/05</strong>
          <span>SÁBADO</span>
      </div>
      <div class="informacao">
          <h3>SHOWS E BALADAS</h3>
          <strong>Felipe e Matheus</strong>
          <span>Local: 23h - Expoara Porto Franco/MA</span>
          <div class="link">
              <a href="javascript:void(0)">Informações</a> |
              <a href="javascript:void(0)">Ver Cartaz</a> |
              <a href="javascript:void(0)">Site do Evento</a> 
          </div>
      </div>
  </section>
  <section>
      <div class="data">
          <strong>06/05</strong>
          <span>SÁBADO</span>
      </div>
      <div class="informacao">
          <h3>SHOWS E BALADAS</h3>
          <strong>Felipe e Matheus</strong>
          <span>Local: 23h - Expoara Porto Franco/MA</span>
          <div class="link">
              <a href="javascript:void(0)">Informações</a> |
              <a href="javascript:void(0)">Ver Cartaz</a> |
              <a href="javascript:void(0)">Site do Evento</a> 
          </div>
      </div>
  </section>  
  <nav>
      <a href="javascript:void(0)">Anterior</a>  
      <ul>
        <li><a href="javascript:void(0)">1</a></li>
        <li><a href="javascript:void(0)">2</a></li>
        <li><a href="javascript:void(0)">3</a></li>
        <li><a href="javascript:void(0)">4</a></li>
        <li><a href="javascript:void(0)">5</a></li>
        <li><a href="javascript:void(0)">6</a></li>
        <li><a href="javascript:void(0)">7</a></li>
      </ul>
      <a href="javascript:void(0)">Próximo</a>
    </nav>
</article>
<article class="categorias">
  <div>
    <header>
      <h3>Categorias</h3> 
    </header>
    <a href="javascript:void(0)">Almoços e jantares</a>
    <a href="javascript:void(0)">Barzinhos</a>
    <a href="javascript:void(0)">Cursos e Palestras</a>
    <a href="javascript:void(0)">Exposições e Rodeios</a>
    <a href="javascript:void(0)">Calendário e Roteiros</a>
    <a href="javascript:void(0)">Feiras</a>
    <a href="javascript:void(0)">Shows e Baladas</a>
    <a href="javascript:void(0)">Eventos Culturais</a>
    <a href="javascript:void(0)">Outros</a>
    <a href="javascript:void(0)">Cinemas</a>
  </div>
  <a routerLink="/evento">
    <img src="./assets/imagens/divulgue.jpg">
  </a>
</article>
</div>