<h2>Quem Somos</h2>
<p>Sem dúvida, o site mais completo de Araguaina-TO e Região</p>
<p>O objetivo principal o Portal do Guia, desde sua fundação, sempre foi oferecer uma ferramenta fácil e inteligente para divulgar informações sobre a cidade. Ele foi criado e é mantido, levando em consideração a opinião dos anunciantes, usuários e visitantes.</p>
<p>O principal diferencial o Portal do Guia é que os outros portais encontrados na internet, sempre são focados em apenas um tipo de conteúdo, enquanto o Portal do Guia dispõe de uma grande quantidade de informações em um único site como: notícias, guia comercial, agenda de cursos, , classificados de imóveis, veiculos, empregos e muito mais. permite ainda acesso gratuito ao catálogo de produtos e serviços de empresas logais e região</p>
<p>A praticidade e agilidade na utilização permite em poucos cliques o internauta encontre produtos e serviços que procura em Araguaina e região, além de atualizar-se sobre os principais acontecimentos da região.</p>
<p>O Portal do Guia veio para ocupar uma posição de destaque entre os veículos de comunicação da cidade e região de Araguaina. O Portal do Guia atual é o resultado de muito estudo e trabalho,</p>
<p>O Portal do Guia destaca-se ainda por ser o primeiro site de notícias e guia comercial de Araguaina e região, também um excelente meio de divulgação de empresas. Informando e conduzindo seus visitantes de forma estratégica sobre promoções e novidades do mercado local, de forma interativa e com baixo investimento 24 horas por dia.</p>

<div>
  <header>Vantagens suas anunciar no Portal do Guia</header>
  <iframe src="https://www.youtube.com/embed/G2f4vhFxOxs?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>