p
    margin: 15px 0
iframe
    width: 560px
    height: 315px
div
    width: 560px
    margin: auto    
    header
        background: red
        color: #ffffff
        text-align: center
        padding: 5px 10px
        font-weight: bold
        margin-bottom: 15px

@media screen and (max-width:1024px)
    h2
        margin: 0 10px
    p
        margin: 15px 10px
        text-align: justify
    iframe
        width: 100%
        height: 315px
    div
        width: 100%
        padding: 0 10px    
        header
            font-size: 0.9em