<div class="conteiner"> 
  <section class="guia-comercial"> 
    <!-- <router-outlet (quantidade)="onQuantidade($event)" class="paginas"></router-outlet> -->
    <header>GUIA COMERCIAL <strong>TELEFONES</strong></header>    
    <article *ngFor="let empresa of empresas">
      <div class="logo">
        <img [src]="empresa?.capa" alt="">
      </div>
      <div>
        <a routerLink="/guia-comercial/{{ empresa.id }}">Mais detalhes</a>
        <h4>{{ empresa.nome }}</h4>
        <p>{{ empresa.endereco }}</p>
        <strong>{{ empresa.telefones }}</strong>
        <p>{{ empresa.email }}</p>
        <p>{{ empresa.site }}</p>
      </div>
    </article>
    <nav>
      <!-- <a href="javascript:void(0)">Anterior</a>   -->
      <ul>
        <li *ngFor="let i of quantidade"><a routerLink="/guia-comercial" [queryParams]="{ pagina : i, segmento : segmento, cidade : cidade, categoria : categoria }">{{ i }}</a></li>
      </ul>
      <!-- <a href="javascript:void(0)">Próximo</a> -->
    </nav>
  </section>
  <section class="segmentos">
    <div>
      <header>
        <h3>Segmentos</h3> 
      </header>
      <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : segmento.id, cidade : cidade, categoria : categoria }" *ngFor="let segmento of segmentos">{{ segmento.nome }}</a>
    </div>
  </section>
</div>