<section class="topo"> 
    <div>  
        <p>Araguiana - TO, Terça-feira, 22 de janeiro de 2018</p>
        <ul>
            <li>
                <a href="javascript:void(0)">Guia Médico
                    <div>
                        <a href="javascript:void(0)">Cardiologista</a>
                        <a href="javascript:void(0)">Pediatra</a>
                        <a href="javascript:void(0)">Consultório Odontologico</a> 
                    </div>            
                </a>
            </li>
            <li><a href="javascript:void(0)">Eventos</a></li>
            <li><a href="javascript:void(0)">Agência de Turismo</a></li>
            <li><a href="javascript:void(0)">Vídeo</a></li>
            <li><a href="javascript:void(0)">Locadora de carros</a></li>
            <li><a href="javascript:void(0)"><img src="./assets/imagens/icon-fb.png">  Facebook</a></li>
        </ul>
    </div>
</section>
<section class="banner">
    <img class="logo" src="./assets/imagens/logo.jpg" >
    <div class="slide_600x100"><app-banner-slide [imagens]="slide_600x100"></app-banner-slide></div>    
    <div class="slide_300x100"><app-banner-slide [imagens]="slide_300x100"></app-banner-slide></div>
</section>
<nav class="menu">
    <div>
        <a href="javascript:void(0)">HOME</a>
        <a href="javascript:void(0)">QUEM SOMOS</a>
        <a href="javascript:void(0)">NOTÍCIAS</a>
        <a href="javascript:void(0)">GUIA COMERCIAL</a>
        <a href="javascript:void(0)">DISK DELIVERY
            <div>
                <a href="javascript:void(0)">- Gás</a>
                <a href="javascript:void(0)">- Água</a>
                <a href="javascript:void(0)">- Lanches</a>
            </div>
        </a>
        <a href="javascript:void(0)">ANUNCIE</a>
        <a href="javascript:void(0)">ONDE HOSPEDAR
            <div>
                <a href="javascript:void(0)">- Hotel</a>
                <a href="javascript:void(0)">- Motel</a>
                <a href="javascript:void(0)">- Pousada</a>
                <a href="javascript:void(0)">- Kit-net</a>
            </div>
        </a>
        <a href="javascript:void(0)">ONDE COMER
            <div>
                <a href="javascript:void(0)">- Churrascaria</a>
                <a href="javascript:void(0)">- Restaurante</a>
                <a href="javascript:void(0)">- Pizzaria</a>
                <a href="javascript:void(0)">- Pit-dog</a>
                <a href="javascript:void(0)">- Lanchonete</a>
                <a href="javascript:void(0)">- Espetinho</a>
            </div>
        </a>
        <a href="javascript:void(0)">CONTATO</a>
    </div>
</nav>
<router-outlet></router-outlet>