<section class="topo"> 
    <div>  
        <p>Araguiana - TO, Terça-feira, 22 de janeiro de 2018</p>
        <ul>
            <li>
                <a href>Guia Médico
                    <div>
                        <a href>Cardiologista</a>
                        <a href>Pediatra</a>
                        <a href>Consultório Odontologico</a> 
                    </div>            
                </a>
            </li>
            <li><a href>Eventos</a></li>
            <li><a href>Agência de Turismo</a></li>
            <li><a href>Vídeo</a></li>
            <li><a href>Locadora de carros</a></li>
            <li><a href><img src="./assets/imagens/icon-fb.png">  Facebook</a></li>
        </ul>
    </div>
</section>
<section class="banner">
    <img class="logo" src="./assets/imagens/logo.jpg" >
    <div><app-banner-slide [imagens]="imagens_slide"></app-banner-slide></div>    
    <img class="banner_2" src="./assets/imagens/banner/300x100.jpg" >
</section>
<nav class="menu">
    <div>
        <a href>HOME</a>
        <a href>QUEM SOMOS</a>
        <a href>NOTÍCIAS</a>
        <a href>GUIA COMERCIAL</a>
        <a href>DISK DELIVERY</a>
        <a href>ANUNCIE</a>
        <a href>ONDE HOSPEDAR</a>
        <a href>ONDE COMER</a>
        <a href>CONTATO</a>
    </div>
</nav>
<router-outlet></router-outlet>