@import '../assets/sass/reset'

div.conteudo    
    margin: 30px auto
    width: $largura_content
    display: flex
    justify-content: space-between
    div.conteiner        
        width: 69.3%      
    aside
        width: 27% 
        img.banner
            width: 300px
            margin-top: 25px                    
        div.slide_300x350
        width: 300px
        height: 350px 