@import '../../../assets/sass/reset'

section.bloco-1
    background: $gray
    padding: 10px
    div
        display: flex
        justify-content: space-between
        article
            width: 39%
            text-align: center
            h3
                color: $laranja
                font-size: 1.2em
                margin-bottom: 10px
                display: block
                text-align: center
            img
                width: 100%
                height: 230px
        ul
            width: 30%
            padding: 0 10px
            li
                line-height: 15px
                margin-bottom: 7px
            h3
                color: $laranja
                font-size: 0.9em
                margin-bottom: 10px
            strong
                display: block
                font-size: 0.7em
                color: #666666
            span
                font-size: 0.7em
                color: #666666
                line-height: 15px
            a
                font-size: 0.7em
                color: $azul
        form
            width: 30%
            background: #ffffff
            padding: 5px
            strong
                font-size: 0.7em
                text-align: center
                display: block
            h3
                padding: 7px 5px
                text-align: center
                color: $laranja
                background: $gray
                font-size: 0.9em
                margin: 5px 0
            input
                width: 100%
                padding: 5px
                font-size: 0.8em
                outline: none
                margin-bottom: 5px  
            input.campos
                border: #f1f1f1 solid thin         
            input[type=submit]
                background: $laranja
                color: #ffffff
                border: none
                font-size: 0.7em
            textarea
                height: 70px
                outline: none
                border: solid thin #f1f1f1
                padding: 5px
                width: 100%
                font-size: 0.8em
    div.paginas
        display: flex
        flex-wrap: wrap
        margin-top: 15px
        a
            width: 24%
            padding: 7px 5px
            color: #ffffff
            text-decoration: none
            background: $red
            margin-bottom: 10px
            font-size: 0.7em
            text-align: center
            &:hover
                background: red

section.bloco-2
    margin: 15px 0 
    display: flex
    justify-content: space-between
    .sobre
        width: 59%
        h3
            color: #cccccc
            font-size: 1.2em
        p
            color: #666666
            font-size: 0.9em
            margin: 10px 0
        h4
            font-size: 0.8em
            font-weight: bold
        ul
            margin-bottom: 15px
            strong
                margin-bottom: 10px
                font-size: 0.8em
            span
                font-size: 0.8em
                color: #666666

    .mapa-video
        width: 40%
        iframe:first-child
            margin-bottom: 15px

section.galeria    
    header
        width: 100%
        margin-bottom: 10px
        color: $laranja
        font-size: 1em
        display: flex
        justify-content: flex-start
        align-items: center
        img 
            margin-right: 5px
            width: 15px
            height: 15px
    section
        display: flex
        justify-content: space-between
        div.grande
            width: 70%
            img
                width: 100%
        div.miniatura
            width: 30%
            display: flex
            flex-wrap: wrap
            img
                width: 45%
                margin-left: 1.5%
                margin-bottom: 5.5px
                cursor: pointer
    p
        font-size: 0.9em
        color: #666666
        margin: 15px 0

