<section>
  <div>
    <article>
      <h3>Maranata Espetos</h3>
      <img src="./assets/imagens/guia-comercial/maranata-espetos.jpg" />
    </article>
    <ul>
      <li><h3>Mais informações</h3></li>
      <li>
        <strong>Maranata espetos</strong>
        <span>Av. Florianópolis, 492 A setor bandeirante - Araguaina - TO</span>
      </li>
      <li>
        <strong>Telefone</strong>
        <span>(35) 3412 - 4050 / 99112 - 0303 / 98123 - 0214</span>
      </li>
      <li>
        <strong>Horário de Funcionamento</strong>
        <span>De segunda a sexta de 13 as 23 horas</span>
      </li>
      <li>
        <strong>Formas de pagamentos</strong>
        <span>Dinheiro, cartão de crédito e débeto</span>
      </li>
      <li>
        <strong>Contato na Web</strong>
        <a href="javascript:void(0)">portaldoguia@hotmail.com</a>
        <a href="javascript:void(0)">www.protaldoguia.com.br</a>
        <a href="javascript:void(0)">www.facebook.com/maranataespetos</a>
      </li>
    </ul>
    <form action="">
      <strong>Enviar uma mensagem para</strong>
      <h3>Maranata Espetados</h3>
      <input class="campos" type="text" placeholder="Nome*">
      <input class="campos" type="email" placeholder="E-mail*">
      <input class="campos" type="tel" placeholder="Telefone*">
      <textarea cols="30" rows="10" placeholder="Escreva sua mensagem aqui"></textarea>
      <input type="submit" value="ENVIAR MENSAGEM">
    </form>
  </div>
  <div class="paginas">
    <a href="javascript:void(0)">CONFIRA O <strong>CARDÁPIO</strong></a>
    <a href="javascript:void(0)">MÍDIA KIT</a>
    <a href="javascript:void(0)">DESTINO E HORÁRIOS</a>
    <a href="javascript:void(0)">R$ 34.500,00</a>
    <a href="javascript:void(0)">RELAÇÃO MOTO TAXÍ</a>
    <a href="javascript:void(0)">MAIS DETALHES</a>
    <a href="javascript:void(0)">ITINERANTE E HORÁRIOS</a>
    <a href="javascript:void(0)">PROMOÇÃO</a>
  </div>
</section>