<section class="bloco-1">
  <div class="empresa">
    <article>
      <h3>{{ empresa?.nome }}</h3>
      <img [src]="( empresa?.capa || 'http://protaldoguia.com.br/uploads/guiaComercial/guia.jpg' )" />
    </article>
    <ul>
      <li><h3>Mais informações</h3></li>
      <li>
        <strong>{{ empresa?.nome }}</strong>
        <span>{{ empresa?.endereco }}</span>
      </li>
      <li *ngIf="empresa?.telefones">
        <strong>Telefone</strong>
        <span>{{ empresa?.telefones }}</span>
      </li>
      <li *ngIf="empresa?.horario">
        <strong>Horário de Funcionamento</strong>
        <span>{{ empresa?.horario }}</span>
      </li>
      <li *ngIf="empresa?.formas_pagamento">
        <strong>Formas de pagamentos</strong>
        <span>{{ empresa?.formas_pagamento }}</span>
      </li>
      <li *ngIf="empresa?.contato">
        <strong>Contato na Web</strong>
        <a target="_blank" *ngFor="let contato of empresa?.contato" [href]="contato.url">{{ ( contato.url || '' ) }}</a>
      </li>
    </ul>
    <form (ngSubmit)="mensagem(contato)">
      <strong>Enviar uma mensagem para</strong>
      <h3>Maranata Espetados</h3>
      <input [(ngModel)]="contato.nome" name="nome" class="campos" type="text" placeholder="Nome*">
      <input [(ngModel)]="contato.email" name="email" class="campos" type="email" placeholder="E-mail*">
      <input [(ngModel)]="contato.telefone" name="telefone" class="campos" type="tel" placeholder="Telefone*">
      <textarea [(ngModel)]="contato.mensagem" name="mensagem" cols="30" rows="10" placeholder="Escreva sua mensagem aqui"></textarea>
      <input type="submit" value="ENVIAR MENSAGEM">
    </form>
  </div>
  <div class="paginas">
    <a *ngFor="let botao of empresa?.botao" [href]="( botao.arquivo ? 'http://protaldoguia.com.br/uploads/botoes/' + botao.arquivo : 'guia-comercial/' + empresa_id )">{{ botao.nome }}</a>
  </div>
</section>
<section class="bloco-2">
  <div class="sobre">
    <div class="template"></div>
    <!-- <h3>SOBRE - <span>Maranata Fábrica de Espetos</span></h3>
    <p>Há mais de 3 anos no mercado Maranata Fabrica de Espetos, produzindo produtos sempre fresquinhos para seu churrasco.</p>
    <h4>Vendas no atacado e varejo, mínimo de 5 unidades</h4>
    <ul>
      <li><strong>Espetos para:</strong></li>
      <li><span>- Festas</span></li>
      <li><span>- Eventos</span></li>
      <li><span>- Churrasco</span></li>
      <li><span>- Confraternizações, etc.</span></li>
      <li><strong>Variedade de Sabores:</strong></li>
      <li><span>- Carne (80g ou 100g)</span></li>
      <li><span>- Medalhão (100g ou 120g)</span></li>
      <li><span>- Frango (100g)</span></li>
      <li><span>- Linguiça (100g)</span></li>
      <li><span>- Coração (80g)</span></li>
      <li><span>- Misto (80g)</span></li>
      <li><span>- Pernil (80g)</span></li>
    </ul>
    <h4>Faça seu pedido e entregamos para você, entrega à combinar.</h4>
    <h4>Aceitamos apenas cartões de débito.</h4>
    <h4>Venha conferir!</h4> -->
  </div>
  <div class="mapa-video">
    <iframe id="video" width="100%" height="220" [src]="link" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63334.72741302438!2d-48.2398467226775!3d-7.192771970543947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m5!1s0x92d90dde5d8c4ffb%3A0x4a30e815e64dc4fc!2sAragua%C3%ADna%2C+TO%2C+65907-230!3m2!1d-7.1927733!2d-48.204826999999995!4m0!5e0!3m2!1spt-BR!2sbr!4v1528996499690" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>
<section class="galeria" *ngIf="galeria !== 0">
  <header>
    <img src="../../../assets/imagens/icon/galeria.png" />
    Galeria de Fotos
  </header>
  <section>
    <div class="grande">
      <img [src]="empresa?.galeria[0].nome" />
    </div>
    <div class="miniatura">
        <img *ngFor="let galeria of empresa?.galeria" [src]="galeria.nome" />
    </div>
  </section>
  <p>*<strong>ATENÇÃO:</strong> O ARAGUAINA ONLINE NÃO SE RESPONSABILIZA PELOS PRODUTOS E SERVIÇOS OFERECIDOS PELOS ANUNCIANTES.</p>
  <div id="fb-root"></div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="fb-comments" data-href="http://wedsonwebdesigner.com.br/guia-comercial/1" data-width="100%" data-numposts="5"></div>
</section>
