<div class="conteiner">
  <section class="formulario">
    <div class="cadastre">
      <strong>Não fique de fora!</strong>
      <p>Cadastre sua empresa no portaldoguia gratuitamente<br>com o anúncio simples.</p>
      <h3>100% gratuito</h3>
      <h4>Cadastre sua empresa aqui!</h4>
    </div>
    <form>
      <label>
        <span>Categoria:</span>
        <select>
          <option value="">Serviços</option>
        </select>
      </label>
      <label>
        <span>Subcategoria:</span>
        <select>
          <option value="">Assessoria e Consultoria</option>
        </select>
      </label>
      <label>
        <span>Nome da Empresa:</span>
        <input type="text">
      </label>
      <div>
        <label>
          <span>Endereço da Empresa:</span>
          <input type="text">
        </label>
        <label>
          <span>Bairro:</span>
          <input type="text">
        </label>
      </div>
      <div>
        <label>
          <span>Cidade:</span>
          <input type="text">
        </label>
        <label>
          <span>Estado:</span>
          <select>
            <option value="">Estado</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
          </select>
        </label>
      </div>
      <label>
        <span>Telefone:</span>
        <input type="text">
      </label>
      <label>
        <span>Email:</span>
        <input type="text">
      </label>
      <div>
        <span class="termos">
          <input type="checkbox" />
          <span>Li e concordo com os <strong>termos e condições de uso</strong></span>
        </span>
        <input type="submit" value="Enviar">
      </div>
    </form>
    <div class="contato">
      <p>plano <strong>SUPER DESTAQUE</strong> sua empresa terá uma página no portaldoguia</p>
      <p>Mais informações <a routerLink="/contato">clique aqui</a> ou ligue (99) 98149-7114 99207-0046 WhatsApp</p>      
    </div>
  </section>
  <section class="segmentos">
      <div>
        <header>
          <h3>Segmentos</h3> 
        </header>
        <a href="javascript:void(0)">Academia</a>
        <a href="javascript:void(0)">Açai</a>
        <a href="javascript:void(0)">Acessórios p/ Veiculos</a>
        <a href="javascript:void(0)">Açougue</a>
        <a href="javascript:void(0)">Adapec</a>
        <a href="javascript:void(0)">Pizzaria</a>
        <a href="javascript:void(0)">Areia e Seixo</a>
        <a href="javascript:void(0)">Calçados</a>
        <a href="javascript:void(0)">Gráfica</a>
        <a href="javascript:void(0)">Agência Bancaria</a>
        <a href="javascript:void(0)">Agropecuária</a>
        <a href="javascript:void(0)">Alarme</a>
        <a href="javascript:void(0)">Ar Condicionado</a>
      </div>
    </section>
</div>