@import '../../assets/sass/reset'
section.home
    width: $largura_content
    margin: 30px auto
    display: flex
    justify-content: space-between
    div.conteudo
        width: 69.3%
        section.bloco-1
            display: flex
            justify-content: space-between
            margin-bottom: 25px
            article.principal
                width: 60%
                a
                    margin-bottom: 10px                   
                    color: $red
                    font-size: 1.4em
                    text-decoration: none
                    font-weight: bold
                    line-height: 15px
                    &:hover
                        text-decoration: underline
                
                img
                    width: 100%
                    height: 270px
                p
                    color: #666666
                    line-height: 15px
                    font-size: 0.85em                    
                    margin: 10px 0
            div
                width: 35%
                article:first-child
                    padding-bottom: 10px
                    margin-bottom: 10px
                    border-bottom: solid thin #f1f1f1 
                a.imagem 
                    display: block
                    height: 118px
                    overflow: hidden                      
                p.title                    
                    font-size: 0.9em
                    text-decoration: none
                    font-weight: bold
                    color: $red
                    line-height: 15px
                    &:hover
                        text-decoration: underline
                img
                    width: 100%
                    height: 160px
                p
                    color: #666666
                    font-size: 0.7em                    
                    margin-top: 5px
    
        section.bloco-2
            display: flex
            justify-content: space-between
            margin-bottom: 25px
            article
                width: 47.5%
                a.imagem 
                    display: block
                    height: 170px
                    overflow: hidden
                img
                    width: 100%
                p.title                    
                    font-size: 1.2em
                    text-decoration: none
                    font-weight: bold
                    color: #333333
                    line-height: 20px
                    &:hover
                        text-decoration: underline
                p
                    color: $laranja
                    font-size: 0.7em                    
                    margin-top: 5px

        section.bloco-3
            display: flex
            justify-content: space-between
            margin-bottom: 25px
            article
                width: 30%
                img
                    width: 100%  
                    margin-bottom: 10px              
                p.title                    
                    font-size: 0.9em
                    text-decoration: none
                    font-weight: bold
                    color: $red
                    line-height: 17px
                    &:hover
                        text-decoration: underline
        
        div.fique-por-dentro
            border-top: solid 5px $green
            display: flex
            justify-content: flex-start
            margin-bottom: 25px
            p
                background: $green
                padding: 5px 15px
                color: #ffffff
                font-size: 0.8em
            a
                text-decoration: none
                color: $green
                padding: 5px 15px
                margin: 5px 0
                font-size: 0.7em
                font-weight: bold
            a:not(:last-child)
                border-right: $green solid thin 

        section.bloco-4
            display: flex
            justify-content: space-between
            margin-bottom: 25px
            article
                width: 23%
                a
                    text-decoration: none
                img
                    width: 100%  
                    margin-bottom: 5px 
                strong
                    font-size: 0.7em 
                    color: #333333           
                p                    
                    font-size: 0.7em
                    text-decoration: none
                    font-weight: bold
                    color: $green
                    line-height: 15px

        section.bloco-5            
            background: $gray            
            header     
                display: flex
                justify-content: flex-start
                border-bottom: solid thin $red
                padding: 10px 10px 0 0                
                p
                    border-bottom: solid 3px $red
                    font-weight: bold
                    color: #666666
                    padding: 0 10px
                span
                    margin-left: 15px
                    font-weight: 500
                    color: #666666
            section
                display: flex
                justify-content: space-between
                padding: 15px
            a.banner
                width: 23%
            img
                width: 100%
                height: 200px
            article
                width: 23%
                height: 200px 
                display: flex
                flex-direction: column
                overflow: hidden
                overflow-x: hidden
                overflow-y: auto
                nav
                    display: none
                    div
                        display: flex
                        flex-direction: column                        
                        a
                            font-size: 1em
                            padding: 5px 5px 5px 0
                        &:hover
                            text-decoration: none
                            
                a
                    padding: 5px 5px 5px 15px
                    color: #666666
                    background: #cccccc                    
                    font-size: 0.8em
                a:not(:last-child)
                    border-bottom: solid thin #666666

                    

    aside
        width: 27% 
        img.banner
            width: 300px
            height: 250px 
            margin-top: 25px                    
        div.slide_300x350
        width: 300px
        height: 350px                    
        
