<section class="home">
  <section class="bloco-1">
    <article class="principal">
      <a [routerLink]="'noticias/' + registros?.destaque.url">{{ registros?.destaque.titulo }}</a>
      <p>{{ registros?.destaque.subtitulo }}</p>
      <a [routerLink]="registros?.destaque.url" href="javascript:void(0)">
        <img [hidden]="!registros?.destaque.capa" [src]="registros?.destaque.capa" >
      </a>
    </article>
    <div class="group">
      <article>
        <div>
          <a class="imagem" [routerLink]="'noticias/' + registros?.noticias[0].url">
            <img [hidden]="!registros?.noticias[0].capa" [src]="registros?.noticias[0].capa" >
          </a>
        </div>
        <div>
          <p>{{ registros?.noticias[0].categoria }}</p>
          <a [routerLink]="'noticias/' + registros?.noticias[0].url">
            <p class="title">{{ registros?.noticias[0].titulo }}</p>
          </a>
        </div>
      </article>
      <article>
        <div>
          <a class="imagem" [routerLink]="'noticias/' + registros?.noticias[1].url">
            <img [hidden]="!registros?.noticias[1].capa" [src]="registros?.noticias[1].capa" >
          </a>
        </div>
        <div>
          <p>{{ registros?.noticias[1].categoria }}</p>
          <a [routerLink]="'noticias/' + registros?.noticias[1].url">
            <p class="title">{{ registros?.noticias[1].titulo }}</p>
          </a>
        </div>
      </article>
    </div>
  </section>
  <section class="bloco-2">
      <article>
        <div>
          <a class="imagem" [routerLink]="'noticias/' + registros?.noticias[2].url">
            <img [hidden]="!registros?.noticias[2].capa" [src]="registros?.noticias[2].capa" >
          </a>
        </div>
        <div>
          <p>{{ registros?.noticias[2].categoria }}</p>
          <a [routerLink]="'noticias/' + registros?.noticias[2].url">
            <p class="title">{{ registros?.noticias[2].titulo }}</p>
          </a>
        </div>
      </article>
      <article>
        <div>
          <a class="imagem" [routerLink]="'noticias/' + registros?.noticias[3].url">
            <img [hidden]="!registros?.noticias[3].capa" [src]="registros?.noticias[3].capa" >
          </a>
        </div>
        <div>
          <p>{{ registros?.noticias[3].categoria }}</p>
          <a [routerLink]="'noticias/' + registros?.noticias[3].url">
            <p class="title">{{ registros?.noticias[3].titulo }}</p>
          </a>
        </div>
      </article>
  </section>
  <section class="bloco-3">
    <article>
      <div>
        <a class="imagem" [routerLink]="'noticias/' + registros?.noticias[4].url">
          <img [hidden]="!registros?.noticias[4].capa" [src]="registros?.noticias[4].capa" >
        </a>
      </div>
      <div>
        <p>{{ registros?.noticias[4].categoria }}</p>
        <a [routerLink]="'noticias/' + registros?.noticias[4].url">
          <p class="title">{{ registros?.noticias[4].titulo }}</p>
        </a>
      </div>
    </article>
    <article>
      <div>
        <a class="imagem" [routerLink]="'noticias/' + registros?.noticias[5].url">
          <img [hidden]="!registros?.noticias[5].capa" [src]="registros?.noticias[5].capa" >
        </a>
      </div>
      <div>
        <p>{{ registros?.noticias[5].categoria }}</p>
        <a [routerLink]="'noticias/' + registros?.noticias[5].url">
          <p class="title">{{ registros?.noticias[5].titulo }}</p>
        </a>
      </div>
    </article>
    <article>
      <div>
        <a class="imagem" [routerLink]="'noticias/' + registros?.noticias[6].url">
          <img [hidden]="!registros?.noticias[6].capa" [src]="registros?.noticias[6].capa" >
        </a>
      </div>
      <div>
        <p>{{ registros?.noticias[6].categoria }}</p>
        <a [routerLink]="'noticias/' + registros?.noticias[6].url">
          <p class="title">{{ registros?.noticias[6].titulo }}</p>
        </a>
      </div>
    </article>
  </section>
  <div class="fique-por-dentro">
    <p><strong>FIQUE</strong> POR DENTRO</p>
    <a class="fixed">HORÓSCOPO</a>
    <a class="fixed">LOTERIAS</a>
    <a class="fixed">NOVELAS</a>
    <a class="fixed">AGRONEGÓCIO</a>
  </div>
  <section class="bloco-4">
    <article>
      <a class="fixed" target="_blank" href="https://joaobidu.com.br/">
        <img src="./assets/imagens/horoscopo.jpg" >
        <strong>HORÓSCOPO</strong>
        <p>Confira a previsão dos astros para o seu signo</p>
      </a>
    </article>
    <article>
      <a class="fixed" target="_blank" href="http://loterias.caixa.gov.br/wps/portal/loterias">
        <img src="./assets/imagens/mega-sena.jpg" >
        <strong>LOTERIAS</strong>
        <p>Confira os resultados dos jogos</p>
      </a>
    </article>
    <article>
      <a class="fixed" target="_blank" href="https://www.agrolink.com.br/">
        <img src="./assets/imagens/agronegocio.jpg" >
        <strong>AGRONEGÓCIO</strong>
        <p>Fica por dentro das notícias do mercado agricolas</p>
      </a>
    </article>
    <article>
      <a class="fixed" target="_blank" href="https://www.agrolink.com.br/">
        <img src="./assets/imagens/resumos-de-novelas.jpg" >
        <strong>NOVELAS</strong>
        <p>Veja os próximos capitulos das novelas</p>
      </a>
    </article>
  </section>
  <section class="bloco-5">
    <header>
      <p>UTILIDADES</p>
      <span>Ficou fácil encontrar tudo aqui</span>
    </header>
    <section>
      <div class="transporte">
        <img class="transporte" src="./assets/imagens/transportes_cidade.png" />
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : segmento.id, cidade : 'cidade', categoria : 'categoria' }" *ngFor="let segmento of registros?.transportes">{{ segmento.nome }}</a>
      </div>
      <article class="telefone-farmacia">
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : 34, cidade : 'cidade', categoria : 'categoria' }" title="Telefones úteis">
          <img src="./assets/imagens/telefone.png" />
        </a>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : 3, cidade : 'cidade', categoria : 'categoria' }" title="Plantão de Farmácia">
          <img src="./assets/imagens/farmacia.png" />
        </a>
      </article>
      <div class="classificados">
        <h3>CLASSIFICADOS</h3>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : segmento.id, cidade : 'cidade', categoria : 'categoria' }" *ngFor="let segmento of registros?.classificados">{{ segmento.nome }}</a>
      </div>
      <article class="categorias scroll">
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : segmento.id, cidade : 'cidade', categoria : 'categoria' }" *ngFor="let segmento of registros?.outros">{{ segmento.nome }}</a>
      </article>
    </section>
  </section>
  <section class="bloco-6">
    <section class="gastronomia">
      <header>
        <div>
          <h2>
            GASTRONOMIA
          </h2>
          <p>Informações sobre restaurantes, bares, cafeterias, pubs entre outros.</p>
        </div>
        <img class="prev" title="Voltar" src="./assets/imagens/icon/icons8-voltar-26.png" >
        <img class="next" title="Avançar" src="./assets/imagens/icon/icons8-avancar-26.png" >
      </header>
      <div class="slide-slick-3">
        <div>
          <h3>{{ registros?.gastronomia[0].nome }}</h3>
          <img class="banner" [src]="registros?.gastronomia[0].capa" >
          <p>
          {{ registros?.gastronomia[0].endereco }}
          </p>
          <strong>
            Saiba mais | compartilhe:
            <img class="icon" src="./assets/imagens/icon-facebook.png" >
            <img class="icon" src="./assets/imagens/icon-linkedin.png" >
            <img class="icon" src="./assets/imagens/icon-twitter.png" >
          </strong>
        </div>
        <div>
          <h3>{{ registros?.gastronomia[1].nome }}</h3>
          <img class="banner" [src]="registros?.gastronomia[1].capa" >
          <p>
          {{ registros?.gastronomia[1].endereco }}
          </p>
          <strong>
            Saiba mais | compartilhe:
            <img class="icon" src="./assets/imagens/icon-facebook.png" >
            <img class="icon" src="./assets/imagens/icon-linkedin.png" >
            <img class="icon" src="./assets/imagens/icon-twitter.png" >
          </strong>
        </div>
        <div>
          <h3>{{ registros?.gastronomia[2].nome }}</h3>
          <img class="banner" [src]="registros?.gastronomia[2].capa" >
          <p>
          {{ registros?.gastronomia[2].endereco }}
          </p>
          <strong>
            Saiba mais | compartilhe:
            <img class="icon" src="./assets/imagens/icon-facebook.png" >
            <img class="icon" src="./assets/imagens/icon-linkedin.png" >
            <img class="icon" src="./assets/imagens/icon-twitter.png" >
          </strong>
        </div>
        <div>
          <h3>{{ registros?.gastronomia[3].nome }}</h3>
          <img class="banner" [src]="registros?.gastronomia[3].capa" >
          <p>
          {{ registros?.gastronomia[3].endereco }}
          </p>
          <strong>
            Saiba mais | compartilhe:
            <img class="icon" src="./assets/imagens/icon-facebook.png" >
            <img class="icon" src="./assets/imagens/icon-linkedin.png" >
            <img class="icon" src="./assets/imagens/icon-twitter.png" >
          </strong>
        </div>
        <div>
          <h3>{{ registros?.gastronomia[4].nome }}</h3>
          <img class="banner" [src]="registros?.gastronomia[4].capa" >
          <p>
          {{ registros?.gastronomia[4].endereco }}
          </p>
          <strong>
            Saiba mais | compartilhe:
            <img class="icon" src="./assets/imagens/icon-facebook.png" >
            <img class="icon" src="./assets/imagens/icon-linkedin.png" >
            <img class="icon" src="./assets/imagens/icon-twitter.png" >
          </strong>
        </div>
        <div>
          <h3>{{ registros?.gastronomia[5].nome }}</h3>
          <img class="banner" [src]="registros?.gastronomia[5].capa" >
          <p>
          {{ registros?.gastronomia[5].endereco }}
          </p>
          <strong>
            Saiba mais | compartilhe:
            <img class="icon" src="./assets/imagens/icon-facebook.png" >
            <img class="icon" src="./assets/imagens/icon-linkedin.png" >
            <img class="icon" src="./assets/imagens/icon-twitter.png" >
          </strong>
        </div>
      </div>
    </section>
  </section>
  <section class="bloco-7">
    <header>
      <img src="./assets/imagens/icon/icons8-lista-filled-26.png" > <span>Empresas em <strong>Destaque</strong></span>
    </header>
    <div class="slide-slick-6">
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[0].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[0].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[0].nome }}</span>
        <strong>{{ registros?.empresasDestaques[0].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[1].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[1].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[1].nome }}</span>
        <strong>{{ registros?.empresasDestaques[1].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[2].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[2].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[2].nome }}</span>
        <strong>{{ registros?.empresasDestaques[2].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[3].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[3].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[3].nome }}</span>
        <strong>{{ registros?.empresasDestaques[3].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[4].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[4].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[4].nome }}</span>
        <strong>{{ registros?.empresasDestaques[4].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[5].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[5].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[5].nome }}</span>
        <strong>{{ registros?.empresasDestaques[5].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[6].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[6].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[6].nome }}</span>
        <strong>{{ registros?.empresasDestaques[6].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[7].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[7].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[7].nome }}</span>
        <strong>{{ registros?.empresasDestaques[7].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[8].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[8].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[8].nome }}</span>
        <strong>{{ registros?.empresasDestaques[8].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[9].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[9].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[9].nome }}</span>
        <strong>{{ registros?.empresasDestaques[9].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[10].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[10].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[10].nome }}</span>
        <strong>{{ registros?.empresasDestaques[10].endereco }}</strong>
      </div>
      <div>
        <a routerLink="/guia-comercial" [queryParams]="{ pagina : 1, segmento : registros?.empresasDestaques[11].segmento_id, cidade : 'cidade', categoria : 'categoria' }">
          <img [src]="( registros?.empresasDestaques[11].capa || '' )" >
        </a>
        <span>{{ registros?.empresasDestaques[11].nome }}</span>
        <strong>{{ registros?.empresasDestaques[11].endereco }}</strong>
      </div>
    </div>
  </section>
  <section class="bloco-8">
    <article>
      <header>
        PONTOS TURISTICOS
        <div>
          <img class="prev-turisticos" title="Voltar" src="./assets/imagens/icon/icons8-voltar-26.png" >
          <img class="next-turisticos" title="Avançar" src="./assets/imagens/icon/icons8-avancar-26.png" >
        </div>
      </header>
      <section class="slide-turisticos">
        <div>
          <div>
            <img class="banner" [src]="( registros?.turisticos[0].capa || '' )" >
          </div>
          <h3>{{ registros?.turisticos[0].nome }}</h3>
          <p>{{ registros?.turisticos[0].endereco }}</p>
        </div>
        <div>
          <div>
            <img class="banner" [src]="( registros?.turisticos[1].capa || '' )" >
          </div>
          <h3>{{ registros?.turisticos[1].nome }}</h3>
          <p>{{ registros?.turisticos[1].endereco }}</p>
        </div>
      </section>
    </article>
    <article>
      <header>
        UNIVERSIDADE E CURSOS
        <div>
            <img class="prev-cursos" title="Voltar" src="./assets/imagens/icon/icons8-voltar-26.png" >
            <img class="next-cursos" title="Avançar" src="./assets/imagens/icon/icons8-avancar-26.png" >
        </div>
      </header>
      <section class="slide-cursos">
        <div>
          <div>
            <img class="banner" [src]="( registros?.cursos[0].capa || '' )" >
          </div>
          <h3>{{ registros?.cursos[0].nome }}</h3>
          <p>{{ registros?.cursos[0].endereco }}</p>
        </div>
        <div>
          <div>
            <img class="banner" [src]="( registros?.cursos[1].capa || '' )" >
          </div>
          <h3>{{ registros?.cursos[1].nome }}</h3>
          <p>{{ registros?.cursos[1].endereco }}</p>
        </div>
      </section>
    </article>
    <article>
        <header>
          VIDEOS
        </header>
        <iframe id="video" width="100%" height="170" src="https://www.youtube.com/embed/srd_k-O-Yc0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h3>Show Felipe e Matheus</h3>
        <p>Boate Absout - dia 25/06 Início ás 23h</p>
    </article>
  </section>
</section>
