<section class="home">
  <div class="conteudo">
    <section class="bloco-1">
      <article class="principal">
        <a href="javascript:void(0)">Água da chuva invade Rodovia e encobre carros</a>
        <p>Por quatro horas os trabalhos da corporação foram intensos, foi utilizado a unidade de resgate e o caminhão auto tanque.</p>
        <a href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
      </article>
      <div>
        <article>
          <a class="imagem" href="javascript:void(0)">
            <img src="./assets/imagens/noticia/agua-chuva.jpg" >
          </a>
          <p>DESDE OUTUBRO</p>
          <a href="javascript:void(0)">
            <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
          </a>
        </article>
        <article>
          <a class="imagem" href="javascript:void(0)">
            <img src="./assets/imagens/noticia/agua-chuva.jpg" >
          </a>
          <p>DESDE OUTUBRO</p>
          <a href="javascript:void(0)">
            <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
          </a>
        </article>
      </div>
    </section>
    <section class="bloco-2">
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <p>DESDE OUTUBRO</p>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <p>DESDE OUTUBRO</p>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
    </section>
    <section class="bloco-3">
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>

      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
    </section>
    <div class="fique-por-dentro">
      <p><strong>FIQUE</strong> POR DENTRO</p>
      <a href="javascript:void(0)">HORÓSCOPO</a>
      <a href="javascript:void(0)">LOTERIAS</a>
      <a href="javascript:void(0)">NOVELAS</a>
      <a href="javascript:void(0)">AGRONEGÓCIO</a>
    </div>
    <section class="bloco-4">
      <article>
        <a href="javascript:void(0)">
          <img src="./assets/imagens/horoscopo.jpg" >  
          <strong>HORÓSCOPO</strong>
          <p>Confira a previsão dos astros para o seu signo</p>
        </a>
      </article>
      <article>
        <a href="javascript:void(0)">        
          <img src="./assets/imagens/mega-sena.jpg" >
          <strong>LOTERIAS</strong>
          <p>Confira os resultados dos jogos</p>
        </a>
      </article>
      <article>
        <a href="javascript:void(0)">        
          <img src="./assets/imagens/agronegocio.jpg" >
          <strong>AGRONEGÓCIO</strong>
          <p>Fica por dentro das notícias do mercado agricolas</p>
        </a>
      </article>
      <article>
        <a href="javascript:void(0)">
          <img src="./assets/imagens/resumos-de-novelas.jpg" >
          <strong>NOVELAS</strong>
          <p>Veja os próximos capitulos das novalas</p>
        </a>
      </article>
    </section>
    <section class="bloco-5">
      <header>
        <p>UTILIDADES</p>
        <span>Ficou fácil encontrar tudo aqui</span>
      </header>
      <section>
        <a class="banner" title="Transporte da sua cidade" href="javascript:void(0)">
          <img src="./assets/imagens/transportes_cidade.jpg" />          
        </a>
        <a class="banner" title="Telefones Úteis" href="javascript:void(0)">
            <img src="./assets/imagens/telefone_uteis.jpg" />
        </a>
        <a class="banner" title="Prestação de serviço" href="javascript:void(0)">
          <img src="./assets/imagens/pretacao_servico.jpg" />          
        </a>
        <article class="scroll">
          <a href="javascript:void(0)">Aeroporto</a>
          <a href="javascript:void(0)">Classificados</a>
          <a href="javascript:void(0)">Ação Social</a>
          <a href="javascript:void(0)">Prestação de Serviço
            <nav>
              <div>
                  <a href="javascript:void(0)">- Carpinteiro</a>
                  <a href="javascript:void(0)">- Pedreiro</a>
                  <a href="javascript:void(0)">- Pintor</a> 
                  <a href="javascript:void(0)">- Faxineira</a> 
              </div>
            </nav> 
          </a>
          <a href="javascript:void(0)">Feiras Livres</a>
          <a href="javascript:void(0)">Associações</a>
          <a href="javascript:void(0)">Mercado Municipal</a>
          <a href="javascript:void(0)">Sindicatos</a>
        </article>
      </section>      
    </section>
  </div>
  <aside>
      <div class="slide_300x350"><app-banner-slide [imagens]="slide_300x350"></app-banner-slide></div>
      <img class="banner" src="./assets/imagens/banner/300x250.jpg" alt="">
      <img class="banner" src="./assets/imagens/banner/300x250.jpg" alt="">
  </aside>
</section>