@import '../../assets/sass/reset'

section.bloco-1
    display: flex
    justify-content: space-between
    margin-bottom: 25px
    article.principal
        width: 60%
        a
            margin-bottom: 10px                   
            color: $red
            font-size: 1.4em
            text-decoration: none
            font-weight: bold
            line-height: 15px
            &:hover
                text-decoration: underline
        
        img
            width: 100%
            height: 270px
        p
            color: #666666
            line-height: 15px
            font-size: 0.85em                    
            margin: 10px 0
    div.group
        width: 35%
        article:first-child
            padding-bottom: 10px
            margin-bottom: 10px
            border-bottom: solid thin #f1f1f1 
        a.imagem 
            display: block
            height: 118px
            overflow: hidden                      
        p.title                    
            font-size: 0.9em
            text-decoration: none
            font-weight: bold
            color: $red
            line-height: 15px
            &:hover
                text-decoration: underline
        img
            width: 100%
            height: 160px
        p
            color: #666666
            font-size: 0.7em                    
            margin-top: 5px

section.bloco-2
    display: flex
    justify-content: space-between
    margin-bottom: 25px
    article
        width: 47.5%
        a.imagem 
            display: block
            height: 170px
            overflow: hidden
        img
            width: 100%
        p.title                    
            font-size: 1.2em
            text-decoration: none
            font-weight: bold
            color: #333333
            line-height: 20px
            &:hover
                text-decoration: underline
        p
            color: $laranja
            font-size: 0.7em                    
            margin-top: 5px

section.bloco-3
    display: flex
    justify-content: space-between
    margin-bottom: 25px
    article
        width: 30%
        img
            width: 100%  
            margin-bottom: 10px              
        p.title                    
            font-size: 0.9em
            text-decoration: none
            font-weight: bold
            color: $red
            line-height: 17px
            &:hover
                text-decoration: underline

div.fique-por-dentro
    border-top: solid 5px $green
    display: flex
    justify-content: flex-start
    margin-bottom: 25px
    p
        background: $green
        padding: 5px 15px
        color: #ffffff
        font-size: 0.8em
    a
        text-decoration: none
        color: $green
        padding: 5px 15px
        margin: 5px 0
        font-size: 0.7em
        font-weight: bold
    a:not(:last-child)
        border-right: $green solid thin 

section.bloco-4
    display: flex
    justify-content: space-between
    margin-bottom: 25px
    article
        width: 23%
        a
            text-decoration: none
        img
            width: 100%  
            margin-bottom: 5px 
        strong
            font-size: 0.7em 
            color: #333333           
        p                    
            font-size: 0.7em
            text-decoration: none
            font-weight: bold
            color: $green
            line-height: 15px

section.bloco-5            
    background: $gray            
    header     
        display: flex
        justify-content: flex-start
        border-bottom: solid thin $red
        padding: 10px 10px 0 0                
        p
            border-bottom: solid 3px $red
            font-weight: bold
            color: #666666
            padding: 0 10px
        span
            margin-left: 15px
            font-weight: 500
            color: #666666
    section
        display: flex
        justify-content: space-between
        padding: 15px    
    div.transporte
        width: 23%
        height: 200px
        padding: 10px
        background: yellow
        display: flex
        flex-direction: column
        a
            padding: 3px 5px
            color: #000000
            text-decoration: none
            margin-bottom: 3px
            background: $yellow
            font-size: 0.75em
            border-radius: 0.3em
            &:hover
                background: #ffd900
        img.transporte
            width: 100%
            margin-bottom: 10px
    div.classificados
        @extend div.transporte
        padding: 10px
        background: #F48537
        a
            background: #FAA954
            padding: 3px 5px
            font-size: 0.75em
            &:hover
                background: #FCC68A
        h3
            font-size: 1em
            font-weight: bold
            margin: 12px 0
    article.telefone-farmacia
        width: 23%
        height: 200px
        background: #000000                                 
        img
            margin-bottom: 3px         
                    

        img
            width: 100%
            height: 99px
    
    article.categorias
        width: 23%
        height: 200px 
        display: flex
        flex-direction: column
        overflow: hidden
        overflow-x: hidden
        overflow-y: hidden
        a
            padding: 6.7px 5px 6.7px 15px
            color: #666666
            background: #cccccc                    
            font-size: 0.8em
            &:hover
                text-decoration: none
                background: $gray
        a:not(:last-child)
            border-bottom: solid thin #666666
    
section.bloco-6
    display: flex
    justify-content: space-between
    margin: 25px 0
    section.gastronomia
        width: 100%
        header
            border-left: solid 10px $laranja
            border-bottom: solid thin $laranja 
            padding: 5px 5px 5px 10px
            display: flex
            justify-content: space-between
            align-items: center
            img
                padding: 5px
                background: $gray
                width: 25px
                height: 25px
                cursor: pointer
                margin-left: 5px
            div
                width: 90%
            h2
                font-size: 1.2em
                color: $laranja
                font-weight: bold
            p
                color: #666666
                font-size: 0.7em

        
        div.slide-slick-3
            width: 100%
            padding: 20px 10px
            background: $gray
            margin-top: 10px
            div
                width: 50%
                margin: 0 10px 
                img.banner
                    width: 100%
                    height: 150px
                    border: solid thin $gray
                img.icon
                    width: 16px
                    height: 16px
                    margin-left: 10px
                    cursor: pointer
                h3
                    margin-bottom: 10px
                    color: $laranja
                    font-size: 1em
                p
                    font-size: 0.7em
                    color: #666666
                    padding: 5px 0                    
                    white-space: nowrap
                    width: 220px 
                    overflow: hidden
                    text-overflow: ellipsis
                strong
                    color: #000000
                    font-size: 0.7em 
                    display: flex
                    align-items: center

section.bloco-7  
    header
        background: #d9d9ec
        display: flex
        align-items: center
        padding: 7px 10px
        border-top: solid 2px $laranja 
        border-bottom: solid 2px $laranja
        margin-bottom: 15px
        img
            margin-right: 10px
            width: 18px
            height: 18px
    
    div.slide-slick-6                
        display: blok
        margin: auto
        width: 93%
        div
            display: flex
            flex-direction: column
            margin: 0 10px
            text-align: center               
            a 
                height: 80px
                overflow: hidden                        
            img                        
                width: 100%
            span
                color: #cccccc
                font-size: 0.7em
                margin: 5px 0
            strong
                color: #666666
                font-size: 0.7em

section.bloco-8
    margin-top: 25px
    display: flex
    justify-content: space-between
    article
        width: 32%
        outline: none
        header
            font-size: 0.75em
            display: flex
            justify-content: space-between
            div
                display: flex
                justify-content: flex-end
            img
                padding: 5px
                background: $gray
                width: 15px
                height: 15px
                cursor: pointer
                margin-left: 5px
        img.banner
            width: 100%
            height: 170px
            margin: 5px 0            
        #video
            margin-top: 5px
        h3
            color: $red
            font-size: 1.2em
        p
            color: #666666
            font-size: 0.7em 

@media screen and (max-width:1024px)
    section.bloco-1
        display: block
        margin-bottom: 0
        width: 100%
        padding: 5px
        article.principal
            width: 100%
            margin-bottom: 10px
            img
                height: auto
            a
                font-size: 1.2em
        div.group
            width: 100%
            article                
                display: flex
                justify-content: space-between 
                padding-bottom: 10px
                border-bottom: solid thin #f1f1f1 
            div
                width: 50%   
            a.imagem 
                height: 90px  
            img
                width: 100%
            p.title    
                font-size: 0.9em                
                color: #666666
                font-weight: 300
            p       
                font-size: 0.8em  
                line-height: 20px 
                font-weight: bold          
                margin-top: 0
                padding-left: 10px
                color: $red
    section.bloco-2
        display: block
        margin-bottom: 0
        width: 100%
        padding: 5px
        article
            width: 100%
            display: flex
            justify-content: space-between 
            padding-bottom: 10px    
            margin-bottom: 10px        
            border-bottom: solid thin #f1f1f1
            div
                width: 50%   
            a.imagem 
                height: 90px  
            img
                width: 100%
            p.title                    
                color: #666666
                font-size: 0.9em 
                font-weight: 300               
            p    
                font-size: 0.8em
                line-height: 25px
                font-weight: bold                
                margin-top: 0
                padding-left: 10px
                color: $red
        article:last-child
            margin-bottom: 0
    section.bloco-3
        display: block
        margin-bottom: 0
        width: 100%
        padding: 5px
        article
            width: 100%
            display: flex
            justify-content: space-between 
            margin-bottom: 10px
            border-bottom: solid thin #f1f1f1 
            div
                width: 50%   
            a.imagem 
                height: 90px  
            img
                width: 100%
            p.title                    
                color: #666666
                font-size: 0.9em 
                font-weight: 300               
            p    
                font-size: 0.8em
                line-height: 25px
                font-weight: bold                
                margin-top: 0
                padding-left: 10px
                color: $red
    div.fique-por-dentro
        display: none
    section.bloco-4
        display: none
    section.bloco-5              
        header               
            p
                font-size: 0.8em
            span
                font-size: 0.8em
        section
            flex-wrap: wrap   
        div.transporte
            width: 47%
            margin-bottom: 10px
        div.classificados
            padding: 10px
            margin-bottom: 10px
            h3
                font-size: 0.9em
        article.telefone-farmacia
            width: 47%           
        article.categorias
            width: 47%
    section.bloco-6
        display: flex
        justify-content: space-between
        margin: 25px 0
        section.gastronomia
            width: 100%
            header
                border-left: solid 10px $laranja
                border-bottom: solid thin $laranja 
                padding: 5px 5px 5px 10px
                display: flex
                justify-content: space-between
                align-items: center
                img
                    padding: 5px
                    background: $gray
                    width: 25px
                    height: 25px
                    cursor: pointer
                    margin-left: 5px
                div
                    width: 90%
                h2
                    font-size: 1.2em
                    color: $laranja
                p
                    color: #666666
                    font-size: 0.7em
            
            div.slide-slick-3
                width: 90%

                padding: 20px 10px
                background: $gray
                margin: 10px auto 0 auto
                div
                    width: 50%
                    margin: 0 10px 
                    img.banner
                        width: 100%
                        border: solid thin $gray
                    img.icon
                        width: 16px
                        height: 16px
                        margin-left: 10px
                        cursor: pointer
                    h3
                        margin-bottom: 10px
                        color: $laranja
                        font-size: 1em
                    p
                        font-size: 0.7em
                        color: #666666
                        padding: 5px 0
                    strong
                        color: #000000
                        font-size: 0.7em 
                        display: flex
                        align-items: center
    section.bloco-7  
        margin-top: 10px
    section.bloco-8
        flex-direction: column
        article
            width: 100%
            padding: 0 20px
            margin-bottom: 15px
            header
                img
                    width: 25px
                    height: 25px
    