<section class="home">
  <div class="conteudo">
    <section class="bloco-1">
      <article class="principal">
        <a href="javascript:void(0)">Água da chuva invade Rodovia e encobre carros</a>
        <p>Por quatro horas os trabalhos da corporação foram intensos, foi utilizado a unidade de resgate e o caminhão auto tanque.</p>
        <a href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
      </article>
      <div>
        <article>
          <a class="imagem" href="javascript:void(0)">
            <img src="./assets/imagens/noticia/agua-chuva.jpg" >
          </a>
          <p>DESDE OUTUBRO</p>
          <a href="javascript:void(0)">
            <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
          </a>
        </article>
        <article>
          <a class="imagem" href="javascript:void(0)">
            <img src="./assets/imagens/noticia/agua-chuva.jpg" >
          </a>
          <p>DESDE OUTUBRO</p>
          <a href="javascript:void(0)">
            <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
          </a>
        </article>
      </div>
    </section>
    <section class="bloco-2">
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <p>DESDE OUTUBRO</p>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <p>DESDE OUTUBRO</p>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
    </section>
    <section class="bloco-3">
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>

      <article>
        <a class="imagem" href="javascript:void(0)">
          <img src="./assets/imagens/noticia/agua-chuva.jpg" >
        </a>
        <a href="javascript:void(0)">
          <p class="title"> Água da chuva invade Rodovia e encobre carros</p>         
        </a>
      </article>
    </section>
    <div class="fique-por-dentro">
      <p><strong>FIQUE</strong> POR DENTRO</p>
      <a href="javascript:void(0)">HORÓSCOPO</a>
      <a href="javascript:void(0)">LOTERIAS</a>
      <a href="javascript:void(0)">NOVELAS</a>
      <a href="javascript:void(0)">AGRONEGÓCIO</a>
    </div>
    <section class="bloco-4">
      <article>
        <a href="javascript:void(0)">
          <img src="./assets/imagens/horoscopo.jpg" >  
          <strong>HORÓSCOPO</strong>
          <p>Confira a previsão dos astros para o seu signo</p>
        </a>
      </article>
      <article>
        <a href="javascript:void(0)">        
          <img src="./assets/imagens/mega-sena.jpg" >
          <strong>LOTERIAS</strong>
          <p>Confira os resultados dos jogos</p>
        </a>
      </article>
      <article>
        <a href="javascript:void(0)">        
          <img src="./assets/imagens/agronegocio.jpg" >
          <strong>AGRONEGÓCIO</strong>
          <p>Fica por dentro das notícias do mercado agricolas</p>
        </a>
      </article>
      <article>
        <a href="javascript:void(0)">
          <img src="./assets/imagens/resumos-de-novelas.jpg" >
          <strong>NOVELAS</strong>
          <p>Veja os próximos capitulos das novalas</p>
        </a>
      </article>
    </section>
    <section class="bloco-5">
      <header>
        <p>UTILIDADES</p>
        <span>Ficou fácil encontrar tudo aqui</span>
      </header>
      <section>
        <div class="transporte">
          <img class="transporte" src="./assets/imagens/transportes_cidade.png" />      
          <a href="javascript:void(0)">Coletivo</a>
          <a href="javascript:void(0)">Moto Taxi</a>
          <a href="javascript:void(0)">Õnibus</a>
          <a href="javascript:void(0)">Taxí</a>
          <a href="javascript:void(0)">Van</a>
        </div>
        <article>
          <a title="Prestação de serviço" href="javascript:void(0)">
            <img src="./assets/imagens/telefone.png" />          
          </a>
          <strong class="prestacao">
            PRESTAÇÃO DE SERVICOS
          </strong>
          <div class="prestacao">
            <a href="javascript:void(0)">Pedreiro</a>
            <a href="javascript:void(0)">Pintor</a>
            <a href="javascript:void(0)">Encanador</a>
            <a href="javascript:void(0)">Limpa fossa</a>
          </div>
        </article>
        <article>
          <a title="Prestação de serviço" href="javascript:void(0)">
            <img src="./assets/imagens/farmacia.png" />          
          </a>
          <strong class="classificados">
            CLASSIFICADOS 
          </strong>
          <div>
            <a href="javascript:void(0)">Imoveis</a>
            <a href="javascript:void(0)">Veiculos</a>
            <a href="javascript:void(0)">Diversos</a>
          </div>
        </article>
        
        <article class="categorias scroll">
          <a href="javascript:void(0)">Aeroporto</a>
          <a href="javascript:void(0)">Ação Social</a>
          <a href="javascript:void(0)">Feiras Livres</a>
          <a href="javascript:void(0)">Associações</a>
          <a href="javascript:void(0)">Mercado Municipal</a>
          <a href="javascript:void(0)">Sindicatos</a>
        </article>
      </section>     
    </section>
    <section class="bloco-6">
      <section class="gastronomia">
        <header>
          <div>
            <h2>
              GASTRONOMIA            
            </h2>    
            <p>Informações sobre restaurantes, bares, cafeterias, pubs entre outros.</p> 
          </div>
          <img class="prev" title="Voltar" src="./assets/imagens/icon/icons8-voltar-26.png" >    
          <img class="next" title="Avançar" src="./assets/imagens/icon/icons8-avancar-26.png" >    
        </header>
        <div class="slide-slick">
          <div>
            <h3>Degraus Restaurante</h3>
            <img class="banner" src="./assets/imagens/guia-comercial/222x100.jpg" >
            <p>
              Self-service, maior variedade, centro de varginha, almoçar no centro de varginha, maior variedade, comida boa, serviço, rápido, ambiente agradável.
            </p>
            <strong>
              Saiba mais | compartilhe: 
              <img class="icon" src="./assets/imagens/icon-facebook.png" >
              <img class="icon" src="./assets/imagens/icon-linkedin.png" >
              <img class="icon" src="./assets/imagens/icon-twitter.png" >
            </strong>
          </div>

          <div>
              <h3>Degraus Restaurante</h3>
              <img class="banner" src="./assets/imagens/guia-comercial/222x100.jpg" >
              <p>
                Self-service, maior variedade, centro de varginha, almoçar no centro de varginha, maior variedade, comida boa, serviço, rápido, ambiente agradável.
              </p>
              <strong>
                Saiba mais | compartilhe: 
                <img class="icon" src="./assets/imagens/icon-facebook.png" >
                <img class="icon" src="./assets/imagens/icon-linkedin.png" >
                <img class="icon" src="./assets/imagens/icon-twitter.png" >
              </strong>
            </div>

            <div>
                <h3>Degraus Restaurante</h3>
                <img class="banner" src="./assets/imagens/guia-comercial/222x100.jpg" >
                <p>
                  Self-service, maior variedade, centro de varginha, almoçar no centro de varginha, maior variedade, comida boa, serviço, rápido, ambiente agradável.
                </p>
                <strong>
                  Saiba mais | compartilhe: 
                  <img class="icon" src="./assets/imagens/icon-facebook.png" >
                  <img class="icon" src="./assets/imagens/icon-linkedin.png" >
                  <img class="icon" src="./assets/imagens/icon-twitter.png" >
                </strong>
              </div>

              <div>
                <h3>Degraus Restaurante</h3>
                <img class="banner" src="./assets/imagens/guia-comercial/222x100.jpg" >
                <p>
                  Self-service, maior variedade, centro de varginha, almoçar no centro de varginha, maior variedade, comida boa, serviço, rápido, ambiente agradável.
                </p>
                <strong>
                  Saiba mais | compartilhe: 
                  <img class="icon" src="./assets/imagens/icon-facebook.png" >
                  <img class="icon" src="./assets/imagens/icon-linkedin.png" >
                  <img class="icon" src="./assets/imagens/icon-twitter.png" >
                </strong>
              </div>
        </div>
      </section>
      <section class="radio"></section>
    </section> 
  </div>
  <aside>
      <div class="slide_300x350"><app-banner-slide [imagens]="slide_300x350"></app-banner-slide></div>
      <img class="banner" src="./assets/imagens/banner/300x250.jpg" alt="">
      <img class="banner" src="./assets/imagens/banner/300x250.jpg" alt="">
  </aside>
</section>